.btn{
    color: rgb(143, 142, 142);
    font-size: 15px !important;
    margin-left: 20%;
    display: flex;
}
.icon{
    color: rgb(196, 16, 16) ;
    margin-right: 10px;
}
.icon-slide{
    margin-right: 10px;
}
.options-icon{
    display: flex;
}
.optionsIcon{
    display: flex;
    
}