.banco {
    background-color:#02A5A5;
    margin: 3px;
    border-radius: 3px;
}

.superior {
    display: flex;
    align-items: center;
}
.nombrebanco {
    color:#043263;
    margin: 5px 20px;
}
.aforo {
    margin: 5px 5px;
    color:#043263;
    text-align: end;
}

.infobanco {
    margin: 3px 20px;
    color: #043263;
}
.servicios {
    font-weight: bold;
    margin: 20px;
    color: #043263;
    border-bottom: 5px solid #043263;
}
.servicio1 {
    color: #043263;
}

.infomenu {
    height: 25px;
    width: 25px;
    align-items: flex-end;
}

.info {
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info p {
    visibility: hidden;
    color: #043263;
}
.infomenu:hover p {
    visibility: visible;
}

  /* Popover styling */
.popover__wrapper {
    position: relative;
    display: inline-block;
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    border-radius: 10px;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}
.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(10% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -1px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
    text-align: center;
}
